body{
    margin:0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(199, 199, 255);
    height:100%;
    width:100%;
}


.row1{
    width:90%;
    position: relative;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}

.top{
    font-size: 1.5em;
    font-weight: bold;
    color:white;
    border-radius: 5px;
    line-height: 250px;
    vertical-align: middle;
    text-align: center; 
    height:250px;
    width:45%;
    margin:2.5%;

}

.left{
    left: 0;
    transition:1s;
    position: absolute;
    background-color: red;
    float: left;
    margin:2.5%;

}

.right{
    position: absolute;
    transition:1s;
    right:0;
    margin:2.5%;
    background-color: rgb(255, 0, 157);
    overflow: hidden;
}


.left:hover{
    height:auto;
}

.right:hover{
    height:500px;
    line-height: 150px;
    overflow-y: scroll;
}

.bottom{
    width:100%;
    background-color: green;
    height:30px;
}

.problems{
    line-height: auto;
    margin:0;
    padding:0;
    list-style-type: none;
}

a{
    color:white;
    text-decoration: none;
    width:auto;
    background-color: red;
    padding: 10px;
    margin: 20px;
}
